.main-wrapper-title {
  position: relative;
  display: inline-block;
}

.main-title-quantity {
  position: absolute;
  color: #FFFFFF;
  left: 100%;
  top: -5px;
  padding: 5px 7px;
  background-color: #FF6633;
  font-size: 16px;
  border-radius: 4px;
}

.basket {
  margin-top: 64px;
}
.basket__settings {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 8px;
}
.basket__settings-checkbox {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.basket__settings-block-check {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.basket__settings-check:checked ~ .basket__settings-check-label {
  transform: scale(1);
}
.basket__settings-check-label {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #70C05B;
  z-index: 2;
  border-radius: 4px;
  transform: scale(0);
  transition: transform 0.1s;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
}
.basket__settings-allot {
  color: #606060;
  font-size: 12px;
  margin-left: 8px;
  cursor: pointer;
}
.basket__settings-button {
  color: #FF6633;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.basket__settings-button:hover {
  border: 1px solid #FF6633;
}
.basket__wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.basket__content {
  flex: 0 1 74.87%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.basket__wrapper-empty {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.basket__empty {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}
.basket__empty-text {
  text-align: center;
  color: #8F8F8F;
  font-size: 32px;
}
.basket__empty-link {
  transition: color 0.1s linear;
  text-align: center;
}
.basket__empty-link:hover {
  color: #FF6633;
}
.basket__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 8px;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.basket__card:hover {
  box-shadow: 0px 6px 8px 0px rgba(255, 102, 51, 0.2);
}
.basket__card-wrapper-checkbox {
  position: absolute;
  left: 8px;
  top: -12px;
  display: inline-block;
}
.basket__card-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #FFF;
  border-radius: 4px;
  outline: 1px solid #BFBFBF;
}
.basket__card-check {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.basket__card-check:checked ~ .basket__card-check-label {
  transform: scale(1);
}
.basket__card-check-label {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #70C05B;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  transform: scale(0);
  transition: transform 0.1s;
}
.basket__card-wrapper-content {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.basket__card-wrapper-img {
  padding: 2px 0;
  margin-left: 2px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  max-width: 80px;
  min-width: 80px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket__card-img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.basket__card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}
.basket__card-name {
  font-size: 16px;
  transition: color 0.1s linear;
}
.basket__card-name:hover {
  color: #FF6633;
}
.basket__card-text {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: flex-start;
}
.basket__card-wrapper-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}
.basket__card-price {
  font-size: 12px;
  font-weight: bold;
}
.basket__card-price-usual {
  color: #606060;
  font-weight: normal;
}
.basket__card-price-context {
  color: #BFBFBF;
  font-size: 12px;
}
.basket__card-info {
  color: #606060;
  font-size: 12px;
  display: block;
}
.basket__card-discount {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FF6633;
  color: #fff;
  font-size: 16px;
}
.basket__card-count-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 5px;
       column-gap: 5px;
  min-width: 190px;
}
.basket__card-counter {
  display: flex;
  align-items: center;
  background-color: #70C05B;
  border-radius: 4px;
  height: 40px;
  padding: 0 12px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.basket__card-counter-btn {
  position: relative;
  width: 15px;
  height: 15px;
}
.basket__card-counter-btn:hover::after {
  background-color: #FF6633;
}
.basket__card-counter-btn:hover::before {
  background-color: #FF6633;
}
.basket__card-counter-input {
  color: #FFF;
  font-size: 16px;
}
.basket__card-counter-wrapper-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.basket__card-counter-price-sum {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}
.basket__card-counter-price-old {
  color: #8F8F8F;
  font-size: 16px;
  text-decoration: line-through;
  white-space: nowrap;
}
.basket__aside {
  flex: 0 1 23.24%;
  min-width: 220px;
}
.basket__aside-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  min-width: 100%;
}
.basket__aside-discount {
  padding-bottom: 24px;
  position: relative;
}
.basket__aside-discount::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #F3F2F1;
}
.basket__aside-wrapper-checkbox {
  display: flex;
  align-items: center;
}
.basket__aside-checkbox {
  width: 46px;
  height: 24px;
}
.basket__aside-check {
  width: 100%;
  height: 100%;
  display: none;
}
.basket__aside-check:checked ~ .basket__aside-check-label::before {
  left: 24px;
  background-color: #FFF;
}
.basket__aside-check:checked ~ .basket__aside-check-label {
  background-color: #70C05B;
}
.basket__aside-check-label {
  cursor: pointer;
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 49px;
  width: 46px;
  height: 24px;
  transition: 0.2s;
}
.basket__aside-check-label::before {
  content: "";
  left: 2px;
  top: 2px;
  transition: 0.2s;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #70C05B;
}
.basket__aside-check-labels {
  cursor: pointer;
  margin-left: 10px;
}
.basket__aside-text-discount {
  margin-top: 20px;
  color: #8F8F8F;
}
.basket__aside-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 24px;
  position: relative;
}
.basket__aside-info::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #F3F2F1;
}
.basket__aside-info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket__aside-info-text {
  color: #8F8F8F;
}
.basket__aside-info-ptice-discount {
  color: #FF6633;
}
.basket__aside-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket__aside-result-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.basket__aside-info-price-result {
  font-weight: bold;
  font-size: 24px;
}
.basket__aside-result-bonus {
  margin-top: 10px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.basket__aside-result-bonus span {
  color: #70C05B;
  font-size: 12px;
}
.basket__aside-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.basket__aside-minsum {
  margin-bottom: 16px;
  text-align: center;
  background-color: #D80000;
  border-radius: 4px;
  color: #FFF;
  font-size: 12px;
  padding: 4px 8px;
}
.basket__aside-button {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FCD5BA;
  color: #FF6633;
  border-radius: 4px;
  font-size: 24px;
  transition: 0.2s;
}
.basket__aside-button:hover {
  background-color: #FF6633;
  color: #FCD5BA;
}

.counter-plus::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #FFFFFF;
  left: 0;
  top: 6px;
  transition: 0.2s;
}
.counter-plus::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 2px;
  background-color: #FFFFFF;
  left: 6px;
  top: 0;
  transition: 0.2s;
}

.counter-minus::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #FFFFFF;
  left: 0;
  top: 6px;
  transition: 0.2s;
}

.basket__delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}
.basket__delivery-item {
  width: 100%;
}
.basket__delivery-title {
  font-size: 36px;
  font-weight: bold;
}
.basket__delivery-row {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 16px;
}
.basket .choices {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.basket .choices__inner {
  outline: none;
  cursor: pointer;
  padding: 6px 0 0 16px;
  height: 33px;
  background-color: #FFF;
  font-family: "Rubik";
  border: none;
  width: 245px;
  font-size: 16px;
  min-height: auto;
}
.basket .choices__list--single {
  padding: 0;
}
.basket .choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}
.basket #choices--select-city-item-choice-1 {
  display: none;
}
.basket__delivery-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}
.basket__delivery-inner-span {
  color: #8F8F8F;
}
.basket__delivery-input {
  padding: 8px 16px;
  background-color: #FFF;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  display: inline;
  transition: 0.1s linear;
}
.basket__delivery-input:focus {
  outline: 2px solid #FF6633;
  border: 1px solid #FFF;
}
.basket__delivery-inner-time {
  max-width: 672px;
}
.basket__delivery-inner-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  flex-wrap: wrap;
  row-gap: 16px;
}
.basket__delivery-time-block {
  padding: 8px 16px;
  background-color: #F3F2F1;
  border-radius: 4px;
  border: 1px solid #F3F2F1;
  transition: 0.2s linear;
  position: relative;
  cursor: pointer;
}
.basket__delivery-time-block:hover {
  border: 1px solid #FF6633;
}
.basket__delivery-time-block:hover .span-time {
  color: #FF6633;
}
.basket__delivery-time-block.time-disable {
  background-color: #FFFFFF;
}
.basket__delivery-time-block.time-disable .span-time {
  color: #BFBFBF;
}
.basket__delivery-time-block.time-disable:hover .basket__delivery-info-wrapper {
  bottom: calc(100% + 12px);
  opacity: 1;
  visibility: visible;
}
.basket__delivery-time-block .span-time {
  color: #606060;
  transition: 0.2s linear;
}
.basket__delivery-time-block.active {
  background-color: #70C05B;
}
.basket__delivery-time-block.active .span-time {
  color: #FFFFFF;
}
.basket__delivery-info-wrapper {
  position: absolute;
  bottom: calc(100% + 24px);
  left: 0;
  transform: translateX(-21.5%);
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
}
.basket__delivery-time-info {
  width: 100%;
  background-color: #F4F6FB;
  display: flex;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.basket__delivery-time-info .span-text {
  font-size: 14px;
  color: #151515;
  padding: 8px 16px;
  white-space: nowrap;
}
.basket__delivery-time-info::after {
  content: "";
  position: absolute;
  background-color: #F4F6FB;
  width: 12px;
  height: 12px;
  top: calc(100% - 6px);
  left: calc(50% - 12px);
  transform: rotate(45deg);
}
.basket__delivery-get-code {
  background-color: #FF6633;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 0 24px;
  height: 33px;
  transition: 0.2s;
}
.basket__delivery-get-code:hover {
  background-color: #FCD5BA;
  color: #FF6633;
}
.basket__delivery-get-code:active {
  transform: scale(0.9);
}
.basket__delivery-mail-btn {
  font-size: 12px;
  padding: 0 24px;
  height: 33px;
  border-radius: 4px;
  transition: 0.2s;
  color: #70C05B;
}
.basket__delivery-mail-btn:hover {
  background-color: #FCD5BA;
  color: #FF6633;
}
.basket__delivery-mail-btn:active {
  transform: scale(0.93);
}

.delivery-input-street {
  max-width: 243px;
}

.delivery-input-house {
  max-width: 55px;
}

.delivery-input-apartment {
  max-width: 75px;
}

.delivery-input-entrance {
  max-width: 120px;
}

.delivery-btn {
  background-color: #FF6633;
  color: #FCD5BA;
}
.delivery-btn:hover {
  background-color: #FCD5BA;
  color: #FF6633;
}
.delivery-btn:active {
  transform: scale(0.93);
}

.delivery-btn2 {
  font-size: 16px;
  color: #fff;
  background-color: #70C05B;
  padding: 0;
  height: 40px;
  margin-top: 16px;
}
.delivery-btn2:hover {
  background-color: #70C05B;
  color: #fff;
}
.delivery-btn2:active {
  transform: scale(0.93);
}

.bounce {
  outline: 0;
  animation-name: bounce;
  animation-duration: 0.2s;
  animation-delay: 0.1s;
}

@keyframes bounce {
  0% {
    transform: translateX(-7px);
    timing-function: ease-in;
  }
  10% {
    transform: translateX(-3.5px);
    timing-function: ease-in;
  }
  20% {
    transform: translateX(0px);
    timing-function: ease-out;
  }
  30% {
    transform: translateX(3.5px);
    timing-function: ease-out;
  }
  40% {
    transform: translateX(7px);
    timing-function: ease-out;
  }
  50% {
    transform: translateX(3.5px);
    timing-function: ease-out;
  }
  60% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  70% {
    transform: translateX(-3.5px);
    timing-function: ease-in;
  }
  80% {
    transform: translateX(-7px);
    timing-function: ease-in;
  }
  95% {
    transform: translateX(-3.5px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}